# Python / Django
__pycache__/
*.pyc
*.pyo
*.log
.env
.venv/
venv/
db.sqlite3

# Django logs & media
logs/
backend/logs/
media/

# Node / React
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
